<div id="parallaxContainer"class="parallax-container">
    <div class="parallax"><img src="https://caritasqro.blob.core.windows.net/images/team.jpg"></div>
</div>


<div class="container">
    <div class="col s12">

        <div class="card grey lighten-5 hoverable">
            <div class="card-content  black-text ">
                <div class="row">
                    <h3 class="card-panel red darken-1 center"><span class="white-text">¿Quiénes Somos?</span></h3>
                    <div class="divider"></div>
                    <div class="col s6">
                        <h4 class="center">Misión</h4>
                        <h6 class="center">"Promover la solidaridad y la justicia social hacia los más pobres y
                            excluidos; impulsando programas y proyectos de
                            asistencia y promoción para colaborar al fortalecimiento de una sociedad más justa y
                            fraterna."</h6> <br>
                    </div>
                    <div class="col s6">
                        <h4 class="center">Visión</h4>
                        <h6 class="center">"Ser una institución católica promotora de la dignificación de las personas y
                            del cambio social justo y solidario."</h6> <br>
                    </div>
                    <!--/////////////////////////////// -->
                    <div class="col s12">
                        <div class="divider"></div>
                        <h3 class="center">Valores</h3>
                        <div class="slider">
                            <ul class="slides">
                                <li>
                                    <img src="https://caritasqro.blob.core.windows.net/images/valor3.jpg">
                                    <div class="caption center-align">
                                        <h3>Dignidad de la persona</h3>
                                        <h5 class="light grey-text text-lighten-3">Todos somos importantes</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="https://caritasqro.blob.core.windows.net/images/valor1.jpg">
                                    <div class="caption left-align">
                                        <h3>Justicia Social</h3>
                                        <h5 class="light grey-text text-lighten-3">Hay que respetar unos a otros</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="https://caritasqro.blob.core.windows.net/images/valor2.jpg">
                                    <div class="caption right-align">
                                        <h3>Caridad</h3>
                                        <h5 class="light grey-text text-lighten-3">Vivir una vida dando más de lo que
                                            tenemos</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="https://caritasqro.blob.core.windows.net/images/comunidad.jpg">
                                    <div class="caption center-align">
                                        <h3>Sencillez</h3>
                                        <h5 class="light grey-text text-lighten-3">Ver a todos por igual</h5>
                                    </div>
                                </li>
                                <li>
                                    <img src="https://caritasqro.blob.core.windows.net/images/casos.jpg">
                                    <div class="caption center-align">
                                        <h3>Efectividad</h3>
                                        <h5 class="light grey-text text-lighten-3">Para cumplir nuestras metas</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!--////////////////////////////////////-->
                        <br>
                        <div class="divider"></div>
                        <h3 class="center">Historia Cáritas</h3>
                        <blockquote>
                            <h5>1897</h5>
                            <h6 class="grey lighten-1" style="padding-left:20px"> Nace la primera organización Cáritas
                                en Friburgo Alemania.</h6>
                            <h5>1950 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px"> Surge la Confederación Cáritas
                                Internacional. Hoy Cáritas Internationalis es una de las más amplias redes humanitarias
                                del mundo, congregando a más de 200 países. Tiene su sede en Roma. </h6>
                            <h5>1960 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px"> Nace Cáritas en la Arquidiócesis de
                                México </h6>
                            <h5>1997 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px"> Se funda Cáritas de Querétaro bajo la
                                figura legal de Institución de Asistencia Privada y comienza sus actividades
                                principalmente de apoyo asistencial. </h6>
                            <h5>2004 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px"> Se van estructurando los programas,
                                bajo la misión de apoyar a los más pobres y excluidos de la Diócesis de Querétaro,
                                mediante programas y proyectos de asistencia y promoción. Se atendían 700 personas
                                anualmente. </h6>
                            <h5>2006 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px">Se definen seis líneas de acción:
                                Salud, Alimentación, Educación, Desarrollo económico, Asistencia Social y Vivienda.
                            </h6>
                            <h5>2011 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px">Se hace una reestructuración de los
                                programas bajo dos líneas de acción: Asistencia Social y Desarrollo Humano. </h6>
                            <h5>2014 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px">Después de 17 años de labor, Cáritas
                                atiende anualmente a más de 8,000 personas a través de sus dos líneas de acción
                                principalmente en cuestiones de de salud, alimentación, capacitación laboral,
                                emergencias y prevención de adicciones. </h6>
                            <h5>2015 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px">En este año Cáritas de Querétaro
                                reforzó sus programas de desarrollo humano en la sierra gorda de Querétaro beneficiando
                                a cientos de habitantes dándoles herramientas para que cubran algunas de sus
                                necesidades. <br> <br>

                                Se inició el programa de fortalecimiento de Cáritas Parroquial y el primer encuentro de
                                agentes de Cáritas
                                Parroquiales. </h6>
                            <h5>2016 </h5>
                            <h6 class="grey lighten-1" style="padding-left:20px">Concretamos la primera etapa en
                                nuestros proyectos de desarrollo humano y se inicio la segunda faceta, con las personas
                                mas motivadas y mejor capacitadas. <br><br>

                                Todo el equipo de Cárita seguimos trabajando para tener proyectos integrarles viendo día
                                a día la CARIDAD. </h6>

                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>