
<center>
      <div class="section"></div>

      <div class="container">
        <div class=" white row card" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <h3 class="red-text">¡Hasta pronto!</h3>

          La sesión se ha cerrado.
          <br>
          <br>
          <br>
        </div>
      </div>
      <p>¿Quieres donar? <a href="/register">Crea tu cuenta aquí</a> o bien, <a href="/login">inicia sesión</a></p>
    </center>

    <br>
    <br>
    