<div class="container card separate">
 

    <div class="row">
        <div class="col s12">
            <h3 class="card-panel red darken-1 center hoverable"><span class="white-text">Contenedores Cáritas</span></h3>
            <!--The div element for the map -->
            <div>
                <iframe id="map" src="https://www.google.com/maps/d/u/0/embed?mid=11fu-yZtTJIPHDMNxWfzJqvYT-WJT20kf"
                    <!--width="640" height="480" -->></iframe></div> <br>
            <div class="divider"></div>
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <h5 class="center">¿Qué puedo donar a Cáritas?</h5>
                        <blockquote>
                            <ul>
                                <li>
                                    <h6>Ropa, Zapatos y accesorios</h6>
                                </li>
                                <li>
                                    <h6>Muebles y Cobijas</h6>
                                </li>
                                <li>
                                    <h6>Mochilas y Bolsas</h6>
                                </li>
                                <li>
                                    <h6>Herramientas</h6>
                                </li>
                                <li>
                                    <h6>Cosméticos</h6>
                                </li>
                                <li>
                                    <h6>Juguetes</h6>
                                </li>
                                <li>
                                    <h6>Libros y Revistas</h6>
                                </li>
                                <li>
                                    <h6>Electrónicos</h6>
                                </li>
                                <li>
                                    <h6>Artículos de Cocina</h6>
                                </li>
                                <li>
                                    <h6>Electrodomésticos</h6>
                                </li>
                            </ul>
                        </blockquote>
    
                    </div>
                    <div class="col s6">
                        <h5 class="center">¿Qué NO puedo donar?</h5>
                        <blockquote>
                            <ul>
                                <li>
                                    <h6>Cosas que no funcionen</h6>
                                </li>
                                <li>
                                    <h6>Ropa enmohecida, vieja, rota o sucia</h6>
                                </li>
                                <li>
                                    <h6>Basura</h6>
                                </li>
                                <li>
                                    <h6>Material peligroso – pintura, químicos, insecticidas</h6>
                                </li>
                                <li>
                                    <h6>Perecederos – comida</h6>
                                </li>
                                <li>
                                    <h6>Medicinas caducas</h6>
                                </li>
                                <li>
                                    <h6>Cosméticos caducos</h6>
                                </li>
                                <li>
                                    <h6>Llantas</h6>
                                </li>
                                <li>
                                    <h6>Armas – pistolas, navajas, espadas, municiones</h6>
                                </li>
                            </ul>
                        </blockquote>
    
                    </div>
    
                </div>
    
            </div>
    
            <div class="col s12">
                <div class="divider"></div>
                <h3 class="center">¿Qué pasa con lo que dono?</h3>
                <img src="images/quepasa.jpg" alt="">
                <!--<div class="row">
                        <div class="col s8">
    
                            
                        </div>
                        <div class="col s4">
                            <img src="images/contenedor_ayuda.jpg" alt="">
                        </div>
                    </div>-->
    
    
                <!--<h4>Puedes marcanos a nuestras oficinas </h4>
                                <h5>Tels: 212 33 19 / 212 35 96 <br>
                                    Horario de oficinas: Lunes a
                                    Viernes de 8am a 4pm</h5>-->
            </div>
    
        </div>

    </div>
</div>
