<div id="parallaxContainer" class="parallax-container">
    <div class="parallax"><img src="https://caritasqro.blob.core.windows.net/images/help.jpg"></div>
</div>

<div class="container">
    <div class="col s12">
        <div class="card grey lighten-5 hoverable">
            <h3 class="card-panel red darken-1 center"><span class="white-text">Dona con Nosotros</span></h3>
            <h3 class="center">¿Cómo puedo Ayudar?</h3>
            <div class="row">
                <div class="col s6">
                    <h5 class="card-panel red darken-1 center"><span class="white-text">Donativos en Especie</span> </h5>
                    <h6 class="container">Lo puedes traer a nuestras oficinas ubicadas en <strong>Vergara #35-A Col. Centro </strong> <br><br> De lunes a viernes de 8:00 a 16:00 y sábados
                    de 9:00 a 14:00. <br>
                    
                    Si tienes donativos que no quepan en tu coche, programa una recolección a domicilio al <strong>212 33 19 ext. 104</strong>  de lunes a
                    viernes de 8:00 a 16:00.</h6>
                </div>
                <div class="col s6">
                    <h5 class="card-panel red darken-1  center"><span class="white-text">Donativos en Efectivo</span> </h5>
                    <h6 class="container">En nuestras oficinas ubicadas en <strong>Vergara #35-A Col. Centro</strong>  de lunes a viernes de 8:00 a 16:00 o a través de la Cuenta
                    <strong>Banorte 0168490000 SUC 568, CLABE 072680001684900009.</strong>  <br> <br>
                    
                    Contamos con recibos deducibles de impuestos</h6>
                </div>
            </div> <br>
            <div class="row">
                <div class="col s6">
                    <h5 class="card-panel red darken-1 center"><span class="white-text">Voluntariado</span> </h5>
                    <h6 class="container">Si te interesa ser voluntario, favor de enviar un correo a: <a href="mailto:voluntariado@caritasdequeretaro.org">voluntariado@caritasdequeretaro.org</a>  indicando áreas de
                    interés y tiempo disponible, además de anexar tu currículum. <br><br> Posteriormente una persona se pondrá en contacto contigo
                    para concertar una cita.</h6>
                </div>
                <div class="col s6">
                    <h5 class="card-panel red darken-1  center"><span class="white-text">Servicio Social</span> </h5>
                    <h6 class="container">Si deseas realizar tu servicio social en esta Institución, favor de comunicarte al área de Dirección Ejecutiva al
                    <strong>teléfono 212 33 19 ó 212 35 96 a la extensión 102</strong>  o enviar un correo a: <a href="mailto:direccionejecutiva@caritasdequeretaro.org">direccionejecutiva@caritasdequeretaro.org</a>  con
                    los siguientes datos: Nombre, teléfono, Universidad en la que estudias, carrera, horas de servicio social que requieres
                    y horario que tienes para realizar tu servicio social.</h6>
                </div>
            </div> <div class="divider"></div> <br>
            <h4 class="center container">Gracias a todas las organizaciones que nos han apoyado. Vive la Caridad.</h4>
            <div class="row"> <br>
                <div class="col s6 center">
                    <img href="" src="images/caritas1.jpg" alt="">
                    <img href="" src="images/caritas2.jpg" alt="">
                    <img href="" src="images/caritas3.png" alt="">
                    <img href="" src="images/caritas4.jpg" alt=""> <br>
                    <img href="" src="images/caritas5.jpg" alt=""> <br>
                    <img href=""src="images/caritas6.png" alt="">
                </div> <br>
                <div class="col s6 center">
                    <img href="" src="images/caritas7.jpg" alt=""> <br>
                    <img href="" src="images/caritas8.png" alt=""> <br>
                    <img href="" src="images/caritas9.jpg" alt=""> <br>
                    <img href="" src="images/caritas10.jpg" alt=""> <br> <br>
                    <img href="" src="images/caritas11.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>