<h1>Modificar canalización</h1>


    
    <div class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input value='{{contacto}}'id="contacto" name='contacto' type="text" class="validate" required>
          <label for="contacto">Nombre del contacto o canalización</label>
        </div>
        <div class="input-field col s6">
          <input value='{{telefono}}' id="telefono" name="telefono" type="tel" class="validate">
          <label for="telefono">Teléfono</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input  value='{{direccion}}'id="direccion" name="direccion" type="text" class="validate" required>
          <label for="direccion">Dirección</label>
        </div>
        <div class="input-field col m6 s12">
          <label>
          <input type="checkbox" name="carta" id="carta" />
          <span>¿Entregó carta?</span>
      </label>
    </div>
      </div>
      <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Guardar</button>
    </form>
  </div>

  
<script>
  
    document.getElementById("carta").checked = {{carta}};
  
</script>