<div id="parallaxContainer" class="parallax-container">
    <div class="parallax"><img src="https://caritasqro.blob.core.windows.net/images/phone.jpg"></div>
</div>
<div class="container icon-block flex center-flex">
    <div class="icon-block flex center-flex">
        <div class="card grey lighten-5 hoverable icon-block flex center-flex">
            <h3 class="card-panel red darken-1 center"><span class="white-text">Contacto</span></h3>
            <div class="container icon-block flex center-flex">
                <h4 class="center">¿Todavía tienes dudas?</h4>
                <h5 class="center">Puedes marcanos a nuestras oficinas </h5>
                <div><h5 class="center">Telefonos: </h5></div>
                <div class="waves-effect red darken-1 col xs11 btn ">
                    <a id="num" href="tel:2123319" style="color:#FFFFFF;">Llámanos: 212 33 19</a>
                </div>
                <h5 class="center">De oficinas: Lunes a Viernes de 8am a 4pm</h5>
                <div class="waves-effect red darken-1 col xs11 btn ">
                    <a href="mailto:comunicacion@caritasdequeretaro.org"style="color:#FFFFFF;">comunicacion@caritasdequeretaro.org</a>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <h5>Queremos ayudar</h5>
                    </div>
                </div>
                    <!--<input class="waves-effect red darken-1 btn" type="submit" value="Enviar formulario">-->
            </div>
        </div>
    </div>
</div>

                                        
                        
                                        
                                        