<div class="container">
    <div class="card grey lighten-5 col s12 ">
        <!--Header -->
        <div class="row">
             <div class="row valign-wrapper">  <br>                   
              <div class=" col s12">
                 <h3 class="card-panel red darken-1 center hoverable"><span class="white-text">Beneficiario</span></h3>
              </div>
              </div>    

              <!--_____________DATOS BENEFICIARIO___________--> 
              <div class="container">
              <div class="row">
                <div class="col s4 ">
                    <blockquote>
                    <label for="first_name"><h6>Nombre</h6></label>
                    <h7>Javier</h7> 
                    <label for="first_name"><h6>Apellido</h6></label>
                    <h7>Iñiguez</h7> 
                    </blockquote>
                </div>
                <div class="col s8 ">
                    <blockquote>
                    <label for="first_name"><h6>Sexo</h6></label>
                    <h7>Masculino</h7> 
                    <label for="first_name"><h6>Fecha de Nacimiento</h6></label>
                    <h7>24/02/1997</h7> 
                    </blockquote>
                </div>
                <div class="divider"></div>
                <div class="col s4">
                    <blockquote>
                    <label for="first_name"><h6>Estado Civil</h6></label>
                    <h7>Soltero</h7>  
                    </blockquote>
                </div>
                <div class="col s4">
                    <blockquote>
                    <label for="first_name"><h6>Zona</h6></label>
                    <h7>Rural</h7>  
                    </blockquote>
                </div>
                <div class="col s4">
                    <blockquote>
                    <label for="first_name"><h6>Profesión</h6></label>
                    <h7>Carpintero</h7>  
                    </blockquote>
                </div>                
                <div class="col s6">
                    <blockquote>
                    <label for="first_name"><h6>CURP</h6></label>
                    <h7>A01366111IQF012FB</h7>
                    <label for="first_name"><h6>RFC</h6></label>
                    <h7>SABCAEDWD2D2</h7> 
                    </blockquote>
                </div>
                <div class="col s6">
                    <blockquote>
                    <label for="first_name"><h6>Municipio</h6></label>
                    <h7>Querétaro</h7> 
                    <label for="first_name"><h6>Dirección</h6></label>
                    <h7>Av. Constituyentitos 407, Miguel Hidalgo 123</h7> 
                    </blockquote>
                </div>
                </div>
              </div>   
              </div>
         </div>
    </div>
</div>